{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="text-white">
    <div class="flex justify-center ">
        <h1 class="border border-white px-20 py-8 my-8">Newsletter PDF Generator</h1>
    </div>
    <div class="flex justify-center mb-16">
    <div class="border border-white w-fit px-40">
        <p class="mt-4">Select Dates between which you need Newsletter</p>
        <form action="pdf_newsletter" class="grid justify-center my-8" method="post">
            {% csrf_token %}
            <label for="date1" class="mb-2">Select the Starting Date</label>
            <div class="flex justify-center">
                <input class="w-fit border border-white px-8 mb-4 text-black" type="date" name="date1" id="">
            </div>
            <label for="date1" class="mb-2 mt-3">Select the Ending Date</label>
            <div class="flex justify-center">
                <input class="w-fit border border-white px-8 mb-4 text-black" type="date" name="date2" id="">
            </div>
            <div class="flex justify-center">
                <button class="flex justify-center border border-white bg-green-700 text-white w-fit mt-4 py-2 px-2" type="submit">Download Newsletter</button>
            </div>
        </form> 
    </div>
</div>
</div>
{% endblock %}