{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Testing PDF</title>
</head>
<body>
    <img src="/static/img/logo.png">
    <h1> Gauhati University Department of Information Technology</h1>
    <div class="border border-4	">
        {% for post in posts %}
        <h1>{{post.title}} </h1> by {{post.author}}
            <br>
            <hr>
            <img src="{{post.image.path}}" alt="">
            <br>
            {{post.content |safe}}
            <br> <br>
            <hr> <hr>
            <br>

        {% endfor %}
    </div>
</body>
</html>