{% extends 'main/base.html' %}
{% block title %}Add Post{% endblock %}
{% block content %}

    <!-- component -->
    <div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-20 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
        style="background-image: url(https://images.unsplash.com/photo-1621243804936-775306a8f2e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
        <div class="absolute bg-black opacity-70 inset-0 z-0"></div>
        <!-- <div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10"> -->
        <div class=" w-full p-10 bg-white rounded-xl z-10" style="width: auto;">
            <div class="text-center">
                <h2 class="mt-5 text-3xl font-bold text-blue-900 font-serif">
                    Add Post !

                </h2>

            </div>
            <form class="mt-8 space-y-3" action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{form.media}}

                <div class="grid grid-cols-1 space-y-2">
                    <label class="text-sm font-bold text-gray-500 tracking-wide">Title</label>
                    {{form.title}}
                   
                </div> <br>
                
                <div class=" mx-auto">

                    <label for="message"
                        class="block mb-2 text-sm font-medium text-gray-400 dark:text-gray-800 font-bold">Content</label>
                        <div class="block p-2.5 w-full text-sm text-black bg-black rounded-lg border border-white focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        {{form.content}}
                        </div>
                   

                    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
                </div> <br>
                <div class="grid grid-cols-1 space-y-2">
                    <label class="text-sm font-bold text-gray-500 tracking-wide">Attach Document</label>
                    <div class="flex items-center justify-center w-full">
                        <label
                            class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
                            <div
                                class="h-full w-full text-center flex flex-col items-center justify-center items-center  ">
                                <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                                    <img class="has-mask h-36 object-center"
                                        src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg"
                                        alt="freepik image">
                                </div>
                                <p class="pointer-none text-gray-500 "><span class="text-sm">Drag and drop</span> files
                                    here <br /> or <a href="" id="" class="text-blue-600 hover:underline">select a
                                        file</a> from your computer</p>
                            </div>
                            {{form.image}}
                        </label>
                    </div>
                </div>
               
                <br>

                {{form.cat}}

                <div>
                    <button type="submit"
                        class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4  rounded-full tracking-wide
                                    font-semibold  focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>

    <style>
        .has-mask {
            position: absolute;
            clip: rect(10px, 150px, 130px, 10px);
        }
    </style>


{% endblock %}